<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Пожалуйста введите логин и пароль</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/shards.min.css">
</head>
<body>
<h1>Пожалуйста введите логин и пароль</h1>
<div th:if="${param.error}">
    Неверный логин или пароль
</div>
<div th:if="${param.logout}">
    Вы разлогинились
</div>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="user" value="user"/>
    </div>
    <div>
        <input type="password" name="password" placeholder="password" value="password"/>
    </div>
    <input type="submit" value="Войти"/>
</form>
</body>
</html>